

@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@implements ILayoutComponent

<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <NavMenu />
        </div>
        <div class='col-sm-9'>
            @Body
        </div>
    </div>
</div>

@functions {
    public void Oninit()
    {
        UriHelper.NavigateTo("/Login/");

    }
    public RenderFragment Body { get; set; }
}
